<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<p>Working Continuous delivery.</p>
<p>Working Continuous delivery with optional auto production deployment.</p>














<p>branch 2 changes</p>